In [7]:
import pandas as pd

colnames = ['symboling', ' normalized_losses', 'make', 'fuel_type', 'aspiration', ' num_of_doors', 'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type', 'num_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke', 'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price' ]

df_auto= pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/auto_imports.csv', names=colnames)

df_auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [8]:
df_auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           201 non-null    int64
 1    normalized_losses  201 non-null    object
 2   make                201 non-null    object
 3   fuel_type           201 non-null    object
 4   aspiration          201 non-null    object
 5    num_of_doors       201 non-null    object
 6   body_style          201 non-null    object
 7   drive_wheels        201 non-null    object
 8   engine_location     201 non-null    object
 9   wheel_base          201 non-null    float64
 10  length              201 non-null    float64
 11  width               201 non-null    float64
 12  height              201 non-null    float64
 13  curb_weight         201 non-null    int64
 14  engine_type         201 non-null    object
 15  num_of_cylinders    201 non-null    object
 16  engine_size         201 non-null    int64
 17  fuel_system         201 non-null    object
 18  bore                201 non-null    object
 19  stroke              201 non-null    object
 20  compression_ratio   201 non-null    float64
 21  horsepower          201 non-null    object
 22  peak_rpm            201 non-null    object
 23  city_mpg            201 non-null    int64
 24  highway_mpg         201 non-null    int64
 25  price               201 non-null    int64
dtypes: float64(5), int64(6), object(15)
memory usage: 41.0+ KB