In [1]:
import pandas as pd

In [2]:
colnames = ['title','']

df_insurance = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/auto_imports.csv', names=colnames)

In [4]:
df_insurance.head()

   number_of_claims  total_payment_for_all_the_claims
0               108                             392.5
1                19                              46.2
2                13                              15.7
3               124                             422.2
4                40                             119.4