## 1.0 Validation Check

Here we present how to use these two functions meant to validate a numeric variable, considering both, its type (it must be a numerical type) and its range of values.

## 1.1 Import modules

In [2]:
#Check number
from gumly.value_validation import check_number

#Assert
from gumly.value_validation import assert_check_number

#Dtypes

from gumly.value_validation import check_dtypes

#Other
import pandas as pd

## 1.2 Check Number

#### This function returns True if the first argument is a number and it lies between the next two arguments. Othwerise, returns False.

In [3]:
check_number(x=1,lower=0, upper=100) # True

True

In [4]:
check_number(x=-1, lower=0, upper=100) # False

False

## 1.3  Assert Check Number

#### This function uses the above function and it will raise an exception if check_number returns False.

In [5]:
#error
lower_percentil = -1

assert_check_number(x=lower_percentil, lower=0, upper=1.0, varname="lower_percentil")

AssertionError: Check number of: lower_percentil (<class 'int'>)=-1, expected lower_percentil between 0 and 1.0

## 1.4  Check_dtypes

#### This function will raise ValueError if types are not permited in DataFrame.

In [6]:
x = pd.DataFrame({'a': [1,2,3], 'b': ['1','2','3']})
y = pd.DataFrame({'a': [1,2,3], 'b': [1.0,1.2,3.0]})

In [7]:
x

   a  b
0  1  1
1  2  2
2  3  3

In [9]:
pd.DataFrame(x, columns=['a', 'b'])

   a  b
0  1  1
1  2  2
2  3  3

In [15]:
check_dtypes(x, ['int64'])

ValueError: Exists one or more type of df.columns not permitted

In [17]:
check_dtypes(y, ['object'])